#items{

}

#itemsTable{
	 text-align: center;
	 border: 1px solid red;
}

#promotionsTable{
	color: blue;
	border: 1px solid red;
}

.headline{
	font-size: 20px;
	font-weight: bold;
}

.tableRow{
	color: #339933;
    font-size: 18px;
	font-weight: bold;
}

.promotion{
	color: #339933;
	font-size: 18px;
	font-weight: bold;
}

.inputItemNum{
	width: 50px;
}

#message {
	height: 30px;
	line-height: 30px;
}
